DotPuzzle/DotPuzzle/bin/Debug/*
DotPuzzle/DotPuzzle/obj/Debug/*

KinectInteraction/KinectInteraction/bin/Debug/*
KinectInteraction/KinectInteraction/obj/Debug/*

KinectStreams/KinectStreams/bin/Debug/*
KinectStreams/KinectStreams/obj/Debug/*

SkeletonJoints/SkeletonJoints/bin/Debug/*
SkeletonJoints/SkeletonJoints/obj/Debug/*
